---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title = "404: Не найдено" includeSidebar={false}>
  <div class="text-center">
    <h1 class="text-9xl font-bold mb-4">🏝</h1>
    <h1 class="text-9xl font-bold mb-2">404</h1>
    <h3 class="text-2xl">Страница, которую вы ищете, не найдена.</h3>
    <a class="btn btn-accent mt-9" href="/">Главная</a>
  </div>
</BaseLayout>
