---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Ira Gorbunova
  </div>
  <div class="inline opacity-75">
    Developed by <a href="https://manuelernestog.github.io" target="_blank" class="font-bold">Ira Gorbunova</a> using
    <!-- Thanks for using this template. You can keep this line to support my work :) -->
    <a href="https://Ira Gorbunova-site.example.com/" target="_blank" class="font-bold">Brain</a>
  </div>
</footer>
<style></style>
